.temprature-background {
  background: linear-gradient(to right, #00ffff, #fff700, #ff8c00);
  background-size: 2000%; 
  background-position: 100%, 0%;
  height: 100vh;
  /* width: 100vw; */
}

.container {
  bottom: 10px;
  left: 5%;
  position: absolute;
  width: 90%;
}

.slider {
  color: black !important;
}
